version: "3"
services:
  php:
    build:
      context: './.docker_images/php'
      args:
#        version: 5.6
         version: 7.0
#        version: 7.1
#        version: 7.2
#        version: 7.3
    image: melnickforever/dm-php
    networks:
      - backend
    restart: always
    volumes:
      - ./public_html/:/var/www/html/
  apache:
    build: './.docker_images/apache/'
    image: melnickforever/dm-apache
    depends_on:
      - php
      - db
    networks:
      - backend
    ports:
      - "8085:80"
    restart: always
    volumes:
      - ./public_html/:/var/www/html/
  db:
    build: './.docker_images/db/'
    image: melnickforever/dm-db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example

    volumes:
      - ./.docker_images/db/var/lib/mysql:/var/lib/mysql
    networks:
      - backend
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    depends_on:
      - db
    restart: always
    networks:
      - backend
    ports:
      - 8080:80
networks:
  backend:
